---
import Tile from './Tile.astro'; 
import Conveyor from './Conveyor.astro'; 
---

<div id="gameview">
    <div id="camera">
        <div id="tile-cursor" class="tile">
            <Conveyor/>
        </div>
    </div>
    <div id="hotbar">
        <div class="hotbar-slot" data-slot="0" data-slot_content="conveyor"><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="1" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="2" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="3" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="4" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="5" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="6" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="7" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="8" data-slot_content=""><div class="hotbar-item"></div></div>
        <div class="hotbar-slot" data-slot="9" data-slot_content=""><div class="hotbar-item"></div></div>
    </div>
</div>